*.dat
.idea/*
*.iml
.DS_Store
*.cache
*/tmp
*.swp
*.bak
*.py
*.exe
*.spec
*.csv
__pycache__/*
build/*
dist/*
**/_*
_*
# Super-linter outputs
super-linter-output
super-linter.log
megalinter-reports/*

# GitHub Actions leftovers
github_conf
